<%= simple_form_for(@usuario) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre %>
    <%= f.input :email %>
    <%= f.input :encrypted_password %>
    <%= f.input :reset_password_token %>
    <%= f.input :reset_password_sent_at %>
    <%= f.input :remember_created_at %>
    <%= f.input :sign_in_count %>
    <%= f.input :current_sign_in_at %>
    <%= f.input :last_sign_in_at %>
    <%= f.input :current_sign_in_ip %>
    <%= f.input :last_sign_in_ip %>
    <%= f.input :roles_mascara %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
