<h1>Listing usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Encrypted password</th>
      <th>Reset password token</th>
      <th>Reset password sent at</th>
      <th>Remember created at</th>
      <th>Sign in count</th>
      <th>Current sign in at</th>
      <th>Last sign in at</th>
      <th>Current sign in ip</th>
      <th>Last sign in ip</th>
      <th>Rol</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nombre %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.encrypted_password %></td>
        <td><%= usuario.reset_password_token %></td>
        <td><%= usuario.reset_password_sent_at %></td>
        <td><%= usuario.remember_created_at %></td>
        <td><%= usuario.sign_in_count %></td>
        <td><%= usuario.current_sign_in_at %></td>
        <td><%= usuario.last_sign_in_at %></td>
        <td><%= usuario.current_sign_in_ip %></td>
        <td><%= usuario.last_sign_in_ip %></td>
        <td><%= usuario.roles_mascara %></td>
        <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario', new_usuario_path %>
